@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--sidebar-width: 16rem;
		--background-color: var(--color-gray-50);
	}

	body {
		@apply bg-[var(--background-color)] font-normal text-gray-800;
	}
}

@layer utilities {
	.pressable {
		@apply transition-all duration-150 ease-out;
	}
	.pressable:not(:has(.pressable:active)):active {
		transform: translate(0.15rem, 0.15rem);
	}
}
